In [4]:
import numpy as np
import pandas as pd
import json
import pickle
from tqdm import tqdm
import warnings
import os
from random import *

warnings.filterwarnings('ignore')
data_path = './data/korean_sns/Training/label_korean_sns/'

In [68]:
# load json file

# with open(data_path+'행사.json', 'r', encoding='utf-8') as f:
#     json_data = json.load(f)

In [69]:
# save json as pickle

# with open(data_path+'events.pkl', 'wb') as f:
#     pickle.dump(json_data, f, protocol=pickle.HIGHEST_PROTOCOL)

In [1]:
def get_text(data_path, file_name):
    with open(data_path+file_name, 'rb') as f:
        data = pickle.load(f)

    # json -> dict
    temp_dict = {}
    for i in tqdm(range(len(data['data']))):
        temp_txt_list = []
        for j in range(len(data['data'][i]['body'])):
            temp_txt = data['data'][i]['body'][j]['utterance']
            temp_txt_list.append(temp_txt)

        temp_dict[i] = temp_txt_list


    # join messages
    temp_list = []
    for i in range(len(temp_dict)):
        temp_txt = ' '.join(temp_dict[i])
        temp_list.append(temp_txt)

    df = pd.DataFrame(temp_list, columns=['text'])

    return df

In [2]:
def concat_files(file_ex:str, data_path):
    pkl_list = [file for file in os.listdir(data_path) if file.endswith(file_ex)]
    pkl_list

    name_list = []
    for l in pkl_list:
        name_list.append(l.split('.')[0])

    for a in name_list:
        globals()[f'{a}'] = get_text(data_path, f'{a}'+file_ex)

    df_concat = pd.concat([globals()[f'{name_list[i]}'] for i in range(len(name_list))], ignore_index=True)

    return df_concat

In [5]:
df_concat = concat_files('.pkl', data_path)

100%|██████████| 99383/99383 [00:01<00:00, 91793.39it/s]
100%|██████████| 115503/115503 [00:01<00:00, 94597.57it/s]
100%|██████████| 141205/141205 [00:01<00:00, 91502.36it/s]
100%|██████████| 146620/146620 [00:01<00:00, 94674.24it/s]
100%|██████████| 190306/190306 [00:02<00:00, 88692.30it/s]
100%|██████████| 197528/197528 [00:02<00:00, 90433.34it/s]
100%|██████████| 511496/511496 [00:05<00:00, 94753.79it/s]
100%|██████████| 115503/115503 [00:01<00:00, 94083.58it/s]
100%|██████████| 107976/107976 [00:01<00:00, 79262.62it/s]

In [6]:
df_concat

                                                      text
0        마니아프세여??? #@시스템#사진# 흙흙흙 아 개피곤 ㅋㅋ 님 괜찮아여? 왜 먹고 ...
1        구냥 기른거같은데... ㅋ켘캨ㅋㅋㅋ ㅋㅋㅋㅋㅋㅋ알지 뭔날린디 #@이름# 털을보면 관...
2        다자기랑먹느라찐디 아닌데요!! 평일에 9시에 저녁을먹눈데 당연히찌죠 아닌데요?! 데...
3        내가 보기엔 빠지고있어 무게가 안줄어서...? 무게가 중요한게 아니야ㅋㅋㅋㅋㅋㅋㅋ ...
4        앜ㅋㅋㅋㅋㅋㅋ나 머리가 저렇게 짧았나ㅋㅋㅋㅋㅋㅋ 레이어드컷 언니가 혹할만한 예쁜 사...
...                                                    ...
1625515  오늘도출근했어? 어 어떤 분이 전화 달라고 해서 어쩔수없린허다 그때만시간된다하믄 ㅜ...
1625516  당신의의견.. 리스펙하겟어 리스풱트!!!!! 소중한 한표 선사 완료 나인천가면.. ...
1625517  맞아 어색해서 걍 긍정적이게 넴 이라고만했다ㅋㅋㅋㅋ 후아후아후 ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ웃...
1625518  아앗...^^... ㅠㅠㅠㅠㅠㅠ 처장님까지 되면 끝이지 ㅠㅠ 웅웅 거진 ?? ㅋㅋㅋ...
1625519  일단 알바 지원해바야게따 ㅋㅋㅋ 웅웅 안가면 영원히 블랙 됨 ㅠㅠ 지원하면 꼭 가야...

[1625520 rows x 1 columns]

In [7]:
a = df_concat[df_concat['text'].str.contains('#@')]
a.reset_index(drop=True, inplace=True)

In [8]:
a[a['text'].str.contains('#@소속#')]

                                                     text
166     우리 딸부 가는거닝? 그때 예약하자 어쩌자 하다가 진행이 된거닝 그러게! 언제라구?...
247     흥 주말에 그 물건들고 이런거 하면서 뭔가 손목 삔건지 오른손 평소에 아프던거랑 다...
313     #@소속#병원 선별진료소 없냥 껙거 없슈? 있지않남 있었는뎅 몇일전에 사라진거같은뒉...
709     글고 길거리보다 실내가 더 위험해서 오히려 마스크는 실내에서 써야된다고 그래서 #@...
780     님 괜찮으세여?? 넹 깜널 열 오늘 아침에 내렸네여 왜 ㅋㅋ 다행이에여 하루종일 누...
...                                                   ...
852563  #@소속#은 식대가 있어서 아 #@기타#원 더해서 ㅋㅋㅋㅋㅋㅋㅋ 근데또 보험 떼고 ...
852564  제가 #@소속#님이 #@소속#쪽인것도 몰라보고 #@소속#보다작은거아니냐고 그러면 인...
852570  원래 우리 알바비가 거의 800이거든 1000 나올 때도 있고 그래서 400 딱 맞...
852577  ㄹㅇ갈까 일하러 ㄹㅇ 오실래요? 간다 일하러가면데냐 되냐 오십쇼오십쇼 저대신 대타좀...
852578  #@이름# 지금 #@소속# 상표권 출원 하고 있는데 #@시스템#사진# 너 이름으로 ...

[12129 rows x 1 columns]

In [9]:
tag_list=["#@이름#",
"#@계정#",
"#@신원#",
"#@전번#",
"#@금융#",
"#@번호#",
"#@주소#",
]

In [10]:
a_re=a[a["text"].isin(tag_list)]

In [11]:
text=a.text.values

In [12]:
text

array(['마니아프세여??? #@시스템#사진# 흙흙흙 아 개피곤 ㅋㅋ 님 괜찮아여? 왜 먹고 먹고 머고만 햇는데 몸이 무겁지 걸은것도 별로 없는데 몰라여 응가싸서 그런가 고되다 똥싸서 몸무게 빠졋나 아삐건해 미틴ㅋㅋㅋㅋㅋㅋ 진짜 7-800그람 빠짐 나 몸이 너무 무거워서 몸무게 쟀는데 빠져서 놀랏어 너무 무서워',
       '구냥 기른거같은데... ㅋ켘캨ㅋㅋㅋ ㅋㅋㅋㅋㅋㅋ알지 뭔날린디 #@이름# 털을보면 관리를해서 스탈이구나 싶은데 ㅋㅋㅋㅋㅋ 엌ㅋㅋㅋ #@이름#는 그냥인지 스타일인지 헷갈림 그냥인느낌이엇어 엌ㅋ 마구 기르는느낌 그칰ㅋㅌㅌㅌㅌ',
       '앜ㅋㅋㅋㅋㅋㅋ나 머리가 저렇게 짧았나ㅋㅋㅋㅋㅋㅋ 레이어드컷 언니가 혹할만한 예쁜 사진 찾고있는데 없엌ㅋㅋㅋㅋㅋㅋㅋㅋㅋ 김유정머리하고 길러야짘ㅋㅋㅋㅋㅋㅋ 마지막 짧은 머리다 증맬로 마지막인거늬 ㅋㅋㅋㅋㅋㅋㅋ 나도 근데 가을되면 단발 하고 싶은데 과연 후회 천퍼 할 구 알아서 그냥 있는다....... ㅋㅋㅋㅋㅋㅋㅋㅋ 5살 더 늙으면 단발하자 우리 ㅋㅋㅋㅋㅋㅋㅋㅋ아냐 단발 잘러울리는데 왜 에단호크 잘생겼네... ㅋㅋ크 에단호크잘생겻지 ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ 키 작아ㅠㅠㅠㅠ흑흑 #@이름#스 단발추천이여',
       ...,
       '맞아 어색해서 걍 긍정적이게 넴 이라고만했다ㅋㅋㅋㅋ 후아후아후 ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ웃기네 ㅠ #@이름#이 아녀 ㅠ 오랜만에 들어본다 #@이름#ㅋㅋㅋㅋㅋㅋㅋ ㅋㅋㅋㅋㅋㅋㅋ 별명 누가 지어준거야 웃기다고 ㅠ',
       '아앗...^^... ㅠㅠㅠㅠㅠㅠ 처장님까지 되면 끝이지 ㅠㅠ 웅웅 거진 ?? ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ 헤헤 아휴 #@이름#은 오늘 안바뿌닝 나는 일이 옶다 연합뉴스 받아서 제출할 거 있는데 주지않아서 못하고있다 ㅎㅅㅎ 오늘이 마감인데 ㅎㅎ #@이름#가 조아하는 호피 #@시스템#사진#',
       '일단 알바 지원해바야게따 ㅋㅋㅋ 웅웅 안가면 영원히 블랙 됨 ㅠㅠ 지원하면 꼭 가야해 왜 나는 안오냐 저 문자 #@이모티콘# 그래..? 긍데 시간많아 나 ㅋㅋㅋㅋ 담주 평일로 가야게따 알바 지원잘못쓴거아냐? 폰번호 아냐 저거 올때 지원해야되믄데 왜냐면 사람들 몰림 이게 그니까 평일 한달에 7번만하면 주휴수당도 지금해야겟네그럼 일주일 나와 오오대박 굳 나 평일날 간다!'],
      dtype=object)

In [13]:
filtered_text=[]

for t in text:
    for tag in tag_list:
        if tag in t:
            filtered_text.append(t)

In [14]:
len(filtered_text)

482718

In [15]:
filtered_df=pd.DataFrame(filtered_text,columns=["text"])
filtered_df.head()

                                                text
0  구냥 기른거같은데... ㅋ켘캨ㅋㅋㅋ ㅋㅋㅋㅋㅋㅋ알지 뭔날린디 #@이름# 털을보면 관...
1  앜ㅋㅋㅋㅋㅋㅋ나 머리가 저렇게 짧았나ㅋㅋㅋㅋㅋㅋ 레이어드컷 언니가 혹할만한 예쁜 사...
2  옥수수 털고싶다 옥수수 뽑아줄까 #@이름#센세는 옥수수 한번 뽑았었음 님도 곧 사랑...
3  #@이름# 아니겠죠...독감아닌데 열이 어젯밤도 안 떨어진다더라구요 그래서 오늘 #...
4  귓불도 뚫을 수 있으면 좋은데 아님 좀 윗쪽으로해서 함 뚫어 앞에서 봤을때 보이게....

In [16]:
tag_dict={'#@이름#': 0, #성+이름(1), 이름(9)
 '#@계정#': 0,  #이메일
 '#@신원#': 0, #주민번호
 '#@전번#': 0, #핸드폰번호
 '#@금융#': 0, #계좌번호(국민) (은행명 계좌번호) , (계좌번호 은행명), (oo은행 , oo)
 '#@번호#': 0, # 4~6자리 , 5:5
 '#@주소#': 0} # 동이하 주소, 지번

for t in text:
    for tag in tag_list:
        if tag in t:
            tag_dict[tag]+=1

In [17]:
tag_dict

{'#@이름#': 467272,
 '#@계정#': 3098,
 '#@신원#': 438,
 '#@전번#': 1785,
 '#@금융#': 2099,
 '#@번호#': 3273,
 '#@주소#': 4753}

In [30]:
tag_dict.keys()

dict_keys(['#@이름#', '#@계정#', '#@신원#', '#@전번#', '#@금융#', '#@번호#', '#@주소#'])

In [18]:
from faker import Faker

In [19]:
fake = Faker('ko-KR')

fake.address()

'울산광역시 서구 봉은사6가 (수민박리)'

In [136]:
'010'+'-'+str(int(random()*10000)).zfill(4)+'-'+str(int(random()*10000)).zfill(4)

'010-2968-7693'

In [31]:
def random_phone_number(iter:int, proportion=0.5):
    with_dash = []
    without_dash = []
    number_dict = {}
    
    for i in range(int(iter*proportion)):
        number = '010'+'-'+str(int(random()*10000)).zfill(4)+'-'+str(int(random()*10000)).zfill(4)
        with_dash.append(number)

    for i in range(int(iter*(1-proportion))):
        number = '010'+str(int(random()*10000)).zfill(4)+str(int(random()*10000)).zfill(4)
        without_dash.append(number)

    number_dict['number_dash'] = with_dash
    number_dict['number_without_dash'] = without_dash

    return number_dict

In [33]:
w = random_phone_number(10)
w

{'number_dash': ['010-4056-4449',
  '010-5594-9292',
  '010-0252-9832',
  '010-6502-7319',
  '010-1051-9313'],
 'number_without_dash': ['01088236140',
  '01025581188',
  '01057998342',
  '01084008563',
  '01012086468']}

In [22]:
def random_id_code(iter:int, proportion=0.5):
    with_dash = []
    with_space = []
    id_dict = {}

    for i in range(int(iter*proportion)):
        number = str(int(random()*1000000)).ljust(6, '0')+'-'+str(int(random()*10000000)).ljust(7, '0')
        with_dash.append(number)

    for i in range(int(iter*(1-proportion))):
        number = str(int(random()*1000000)).ljust(6, '0')+' '+str(int(random()*10000000)).ljust(7, '0')
        with_space.append(number)

    id_dict['id_code_dash'] = with_dash
    id_dict['id_code_space'] = with_space

    return id_dict

In [25]:
random_id_code(10)

{'id_code_dash': ['911806-9370374',
  '262497-4566775',
  '982240-8910210',
  '425636-3955740',
  '734367-6330330'],
 'id_code_space': ['384522 8757027',
  '832050 9085604',
  '305006 6520199',
  '653940 2387656',
  '367946 2358244']}

In [26]:
def random_pw(iter:int, proportion=0.5):
    digits_4 = []
    digits_6 = []
    pw_dict = {}

    for i in range(int(iter*proportion)):
        pw = str(int(random()*10000)).zfill(4)
        digits_4.append(pw)
    
    for i in range(int(iter*(1-proportion))):
        pw = str(int(random()*1000000)).zfill(6)
        digits_6.append(pw)

    pw_dict['pw_digits_4'] = digits_4
    pw_dict['pw_digits_6'] = digits_6

    return pw_dict

In [27]:
random_pw(100)

{'pw_digits_4': ['6161',
  '0573',
  '9710',
  '4694',
  '0941',
  '5864',
  '8563',
  '0838',
  '5518',
  '8140',
  '4288',
  '0776',
  '1305',
  '5389',
  '2202',
  '5963',
  '5867',
  '5023',
  '6065',
  '0404',
  '2794',
  '4088',
  '7515',
  '1403',
  '1887',
  '3993',
  '5699',
  '5675',
  '7490',
  '4665',
  '1538',
  '8859',
  '4923',
  '6023',
  '7242',
  '8540',
  '9995',
  '0053',
  '5112',
  '7146',
  '5650',
  '2080',
  '2137',
  '7614',
  '5092',
  '4142',
  '6137',
  '0747',
  '8267',
  '2934'],
 'pw_digits_6': ['442621',
  '120998',
  '688176',
  '264735',
  '766597',
  '519525',
  '180154',
  '708941',
  '734317',
  '965883',
  '454913',
  '576349',
  '390136',
  '030511',
  '225407',
  '372651',
  '146344',
  '949424',
  '893961',
  '608910',
  '127080',
  '715977',
  '573662',
  '967501',
  '459353',
  '005017',
  '906872',
  '163174',
  '744629',
  '726315',
  '923090',
  '117927',
  '735634',
  '716769',
  '197954',
  '996529',
  '510461',
  '017184',
  '559117',
  '218909',
  '268579',
  '012864',
  '483270',
  '506366',
  '059639',
  '720076',
  '639783',
  '702148',
  '612898',
  '904132']}

In [34]:
def random_address(iter:int):
    from faker import Faker
    fake = Faker('ko-KR')

    address_list = []
    for i in range(iter):
        faker_address = fake.address()
        if '(' in faker_address:
            pass
        else:
            address_list.append(faker_address+' '+str(int(random()*1000)))

    return address_list

In [41]:
random_address(10)

['대전광역시 서대문구 잠실5가 678',
 '강원도 원주시 양재천길 234',
 '부산광역시 강서구 서초대131로 6',
 '울산광역시 강동구 선릉66가 464',
 '충청북도 태안군 잠실길 96']